@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

body {
    background-color: variables.$bg-lightgrey;
}

.warehouse {
    position: absolute;
    top: 2em;
    left: 2em;
    right: 2em;
    margin-top: 7.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
    background-color: white;
    border-radius: 0.125rem;

    @include mixins.tablet {
        margin-top: 3.5rem;
    }
    @include mixins.desktop {
        margin: 3.5rem 100px 0 100px;
    }
    &__header {
        display: flex;
        flex-direction: column;

        @include mixins.tablet {
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 0.5rem;
        }
    }
    &__title {
        padding: 2.25rem 0 1rem 2.25rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 0.0625rem solid variables.$secondary-cloud;
        padding-bottom: 1rem;

        @include mixins.tablet {
            flex-direction: row;
            padding: 1.5rem 2.25rem 0 0;
            border-bottom: none;
        }
        @include mixins.desktop {
            width: 50%;
        }
    }
    &__search {
        &-input {
            width: 80%;
            height: 2rem;
            border-radius: 1.25rem;
            border: 0.0625rem solid variables.$secondary-cloud;
            padding: 1.1rem;
            background-image: url('/src/assets/icons/search-24px.svg');
            background-repeat: no-repeat;
            background-position: calc(100% - 0.3rem);
            margin-bottom: 1rem;

            @include mixins.tablet {
                margin: 0 1rem;
            }
            @include mixins.desktop {
                width: 100%;
            }
        }
        &-btn {
            height: 2.15rem;
            width: 80%;
            background-color: variables.$primary-indigo;
            color: white;
            font-weight: 400;
            text-decoration: none;
            border-radius: 1.25rem;
            text-align: center;
            align-content: center;

            @include mixins.tablet {
                padding: 0 1rem 0.1rem 1rem ;
            }
            @include mixins.desktop {
                width: 55%;
            }
        }
    }
    &__list {
        &-titles {
            padding-left: 2.25rem;
        }
        &-title {
            flex: 0.5;

            @include mixins.tablet {
                &:last-child {
                    width: 3.125rem;
                    flex: 0.43;
                }
            }
          }
    }
    &__container {
        background-color: white;
      }
    &__sort {
        height: 1.125rem;
        position: relative;
        top: 0.3125rem;

        &:hover {
            cursor: pointer;
        }
    }
}