@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

*, p {
    font-size: 0.8125rem;

    @include mixins.tablet {
        font-size: 0.875rem;
    }
}

html, body {
    overflow: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

.warehouse {
    @include mixins.tablet {
        margin: 0 auto;
    }
    &__list {
        &--mobile {
            @include mixins.tablet {
                display: none;
            }
        }
        &-content {
            border-bottom: 0.0625rem solid variables.$secondary-cloud;
        }
        &--tablet {
            display: none;

            @include mixins.tablet {
                display: contents;
            }
        }
        &-item {
            display: flex;
            flex-direction: column;

            @include mixins.tablet {
                flex-direction: row;
                margin: 0 0.25rem 0 1.5rem;
                border-bottom: none;
                padding: 1.5rem 0;

            }
        }
        &-delete, &-edit {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 1rem;
        }
        &-container {
            display: flex;
            margin: 1rem 0rem 1rem 0rem;
        }
        &--left, &--right {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        &--left {
            margin-left: 1.5rem;
            width: 50%;
        }
        &-title {
            color: variables.$secondary-slate;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0.5rem 0 0.25rem 0;

            @include mixins.tablet {
                margin: 0.625rem 0;
                width: 20%;
                font-size: 0.75rem;
                white-space: nowrap;

                &:last-child {
                    @include mixins.tablet {
                        text-align: right;
                    }
                    @include mixins.desktop {
                        padding: 0;
                    }
                }
            }

            &-logo {
                position: relative;
                bottom: 0.1875rem;
                right: -0.3125rem;

                @include mixins.tablet {
                    top: 0;
                }
            }
        }
        &-nav {
            text-decoration: none;
            font-weight: 600;
            margin: 0;
            position: relative;
            display: flex;
            color: variables.$primary-indigo;
            @include mixins.tablet {
                flex: 1;
            }
        }
        &-functions {
            display: flex;
            justify-content: space-between;
            padding: 0 1.5rem 1rem 1.5rem;
            border-bottom: 0.0625rem solid variables.$secondary-cloud;

            @include mixins.tablet {
                position: relative;
                left: 1%;
                flex-direction: row;
                justify-content: center;
                padding-bottom: 0;
                border-bottom: none;
                flex: 0.5;
            }
        }
        &-titles {
            display: none;

            @include mixins.tablet {
                display: flex;
                background-color: variables.$bg-lightgrey;
            }
        }
    }
    &__info {
        text-align: left;
        margin-left: 0.625rem;
        overflow: visible;

        &:last-child {
            @include mixins.tablet {
                width: 18%;
                justify-content: flex-end;
            }
        }
        @include mixins.tablet {
            display: flex;
            align-items: center;
        }
    }
    &__address {
        @include mixins.tablet {
            flex: 1.5;
        }
    }
    &__contact {
        &-name {
            margin-bottom: 0.5625rem;
            @include mixins.tablet {
                margin: 0;
                flex: 1;
            }
        }
        &-information {
            @include mixins.tablet{ 
                overflow: visible;
                position: relative;
            }
        }
        &-container {
            flex: 1;
            text-align: left;
            overflow: visible;

            @include mixins.tablet {
                margin: 0;
                padding-left: 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    &__address {
        width: 80%;

        @include mixins.tablet {
            width: 20%;
            padding-right: 1.5rem;
        }
        @include mixins.desktop {
            bottom: 0;
        }
    }
}
