@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

*, p {
    font-size: 13px;

    @include mixins.tablet {
        font-size: 14px;
    }
}

html, body {
    overflow: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

.warehouse {

    &__list {
        &--mobile {
            @include mixins.tablet {
                display: none;
            }
        }
        &-content {
            border-bottom: 1px solid variables.$secondary-cloud;
        }
        &--tablet {
            display: none;

            @include mixins.tablet {
                display: contents;
            }
        }
        &-item {
            display: flex;
            flex-direction: column;

            @include mixins.tablet {
                flex-direction: row;
                margin: 0 4px 0 24px;
                border-bottom: none;
                padding: 24px 0;

            }
        }
        &-delete, &-edit {
            width: 24px;
            height: 24px;
            margin-right: 16px;
        }
        &-container {
            display: flex;
            margin: 16px 0px 16px 0px;
        }
        &--left, &--right {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        &--left {
            margin-left: 24px;
            width: 50%;
        }
        &-title {
            color: variables.$secondary-slate;
            text-transform: uppercase;
            font-weight: 600;
            margin: 8px 0 4px 0;

            @include mixins.tablet {
                margin: 10px 0;
                width: 20%;
                font-size: 12px;
                white-space: nowrap;

                &:last-child {
                    @include mixins.tablet {
                        text-align: center;
                    }
                    @include mixins.desktop {
                        padding: 0;
                    }
                }
            }

            &-logo {
                position: relative;
                bottom: 3px;
                right: -5px;

                @include mixins.tablet {
                    top: 0;
                }
            }
        }
        &-nav {
            text-decoration: none;
            font-weight: 600;
            margin: 0;
            position: relative;
            display: flex;
        }
        &-functions {
            display: flex;
            justify-content: space-between;
            padding: 0 24px 16px 24px;
            border-bottom: 1px solid variables.$secondary-cloud;

            @include mixins.tablet {
                position: relative;
                left: 1%;
                flex-direction: row;
                justify-content: center;
                padding-bottom: 0;
                border-bottom: none;
            }
            @include mixins.desktop {
                left: 1%;
            }
        }
        &-titles {
            display: none;

            @include mixins.tablet {
                display: flex;
                background-color: variables.$bg-lightgrey;
            }
        }
    }
    &__info {
        width: 20%;
        text-align: left;
        margin-left: 10px;
        overflow: visible;

        &:last-child {
            @include mixins.tablet {
                width: 18%;
            }
        }
        @include mixins.tablet {
            display: flex;
            align-items: center;
        }
    }
    &__contact-information, &__address {
        @include mixins.tablet {
            position: relative;
            
        }
    }
    &__contact {
        &-name {
            margin-bottom: 9px;
            @include mixins.tablet {
                margin: 0;
                padding-left: 4px;
            }
        }
        &-information {
            @include mixins.tablet{ 
                overflow: visible;
            }
        }
        &-container {
            width: 20%;
            text-align: left;
            overflow: visible;

            @include mixins.tablet {
                margin: 0;
                padding-left: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    &__address {
        width: 80%;

        @include mixins.tablet {
            width: 20%;
            padding-right: 1.5rem;
        }
        @include mixins.desktop {
            bottom: 0;
        }
    }
}
