@use "../styles/partials/variables";

.error {
  display: flex;
  align-content: center;

  &__copy {
    color: variables.$red;
    padding-left: 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }

  &__icon {
    height: 16px;
  }
}
