@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';

.inventory-tablet{
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    @include mixins.tablet{
        background-color: variables.$bg-lightgrey;
        padding: .6875rem 2rem;
    }

    &__heading{
        display: none;

        @include mixins.tablet{
            display: flex;
            align-items: center;
            gap:.25rem;
            color: variables.$secondary-slate;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1rem;
            margin-bottom: .25rem;
            font-size: .75rem;
        }
    }

    &__inventory{
        flex-basis: 20%;
    }
    
    &__category{
        flex-basis: 20%;
    }
    
    &__status{
        flex-basis: 20%;
    }
    
    &__quantity{
        flex-basis: 10%;
    }
    
    &__warehouse{
        flex-basis: 20%;
    }

    &__actions{
        flex-basis: 10%;
        text-align: right;
        max-width: 3.375rem;

    }
} 