@use "../../styles/partials/variables";
@use "../../styles/partials/mixins";

.footer {
  color: variables.$secondary-slate;
  display: flex;
  justify-content: center;
  font-size: 0.688rem;
  line-height: 1rem;
  margin-top: 2rem;

  @include mixins.tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}