@use './styles/partials/typography';
@use './styles/partials/mixins';
@use './styles/partials/variables';

#root {
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: typography.$font-family, sans-serif;
}
h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
}
h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
h3 {
    font-size: 0.8125rem;
    line-height: 1.25rem;
}
h4 {
    font-size: 0.6875rem;
    line-height: 1rem;
}
p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
}