@use './styles/partials/typography';
@use './styles/partials/mixins';
@use './styles/partials/variables';

#root {
    min-height: 100vh;
}
:root {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: typography.$font-family, sans-serif;
}
h1 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
}
h2 {
    font-size: 20px;
    line-height: 28px;
}
h3 {
    font-size: 13px;
    line-height: 20px;
}
h4 {
    font-size: 11px;
    line-height: 16px;
}
p {
    font-size: 13px;
    line-height: 20px;
}